*.iml
.gradle/
build/
.idea/
.DS_STORE
local.properties
sample/iosApp/iosApp.xcworkspace/xcuserdata/ 
sample/iosApp/xcuserdata/

sample/iosApp/*.xcscmblueprint
sample/iosApp/*.xccheckout

sample/iosApp/build/
sample/iosApp/DerivedData/
sample/iosApp/*.moved-aside
sample/iosApp/*.pbxuser
sample/iosApp/!default.pbxuser
sample/iosApp/*.mode1v3
sample/iosApp/!default.mode1v3
sample/iosApp/*.mode2v3
sample/iosApp/!default.mode2v3
sample/iosApp/*.perspectivev3
sample/iosApp/!default.perspectivev3

sample/iosApp/*.hmap

sample/iosApp/*.ipa
sample/iosApp/*.dSYM.zip
sample/iosApp/*.dSYM

sample/iosApp/timeline.xctimeline
sample/iosApp/playground.xcworkspace

sample/iosApp/.build/

sample/iosApp/Pods/
sample/iosApp/Podfile.lock
